@model HoneyShop.Models.Proizvod
@using HoneyShop.Models

@{
    ViewBag.Title = "Detalji";
}

@{
    string greska = (string)TempData["greska"];
    string forma = (string)TempData["forma"];
}

<h2>Detalji</h2>


<h4>Proizvod</h4>
<hr />
<d1 class="dl-horizontal">
    <dt>Id:</dt>
    <dd>@Model.Id</dd>
    <dt>Naziv:</dt>
    <dd>@Model.Naziv</dd>
    <dt>Vrsta:</dt>
    <dd>@Model.Vrsta.ToString()</dd>
    <dt>Proizvodjac:</dt>
    <dd>@Model.Proizvodjac</dd>
    <dt>Adresa Proizvodjaca:</dt>
    <dd>@Model.AdresaProizvodjaca</dd>
    <dt>Boja:</dt>
    <dd>@Model.Boja</dd>
    <dt>Opis:</dt>
    <dd>@Model.Opis</dd>
    <dt>Cena po Tegli:</dt>
    <dd>@Model.CenaPoTegli</dd>
    <dt>Preostala kolicina:</dt>
    <dd>@Model.BrojTegli</dd>
</d1>
<br />
<div>@greska</div>

@if (forma.Equals("true"))
{
    <form action="~/Kupovine/Kupi" method="get">
        <table>
            <tr>
                <td>Kolicina:</td>
                <td><input type="hidden" name="id" value="@Model.Id" /></td>
                <td><input type="number" name="kolicina" /></td>
                <td><input type="hidden" name="forma" value="true" /></td>
                <td><input type="submit" value="Kupi" class="btn btn-success"/></td>
            </tr>
        </table>
    </form>
    <br/>
    <a href="~/Proizvodi/Index" class="btn btn-warning">Proizvodi</a>
}
else
{   
    <br/>
    <a href="~/Kupovine/Index" class="btn btn-warning">Kupovine</a>
}

