@model Web_PR_53_2017.Models.Proizvod
@using Web_PR_53_2017.Models
@{
    ViewBag.Title = "Dodaj";
}

<h2>Dodaj</h2>

@*<div>@ViewBag.Greska</div>*@

<form action="~/Proizvodi/Dodaj" method="post">
    <input type="hidden" name="id" value="@ViewBag.id" />
    <table>
        <tr>
            <td>Naziv:</td>
            <td><input type="text" name="naziv" /></td>
            <td>@ViewBag.naziv</td>
        </tr>
        <tr>
            <td>Vrsta:</td>
            <td>
                <select id="vrste" name="vrsta">
                    <option selected="selected">LIVADSKI</option>
                    <option>CVETNI</option>
                    <option>BAGREMOV</option>
                    <option>RUZIN</option>
                    <option>SUNCOKRETOV</option>
                </select>
                @*<input list="vrste" name="vrsta" />
                <datalist id="vrste">
                    <option value="LIVADSKI "></option>
                    <option value="CVETNI"></option>
                    <option value="BAGREMOV"></option>
                    <option value="RUZIN"></option>
                    <option value="SUNCOKRETOV"></option>
                </datalist>*@
            </td>
        </tr>
        <tr>
            <td>Proizvodjac:</td>
            <td><input type="text" name="proizvodjac" /></td>
            <td>@ViewBag.proizvodjac</td>
        </tr>
        <tr>
            <td>Adresa proizvodjaca:</td>
            <td><input type="text" name="adresaProizvodjaca" /></td>
            <td>@ViewBag.adresaPr</td>
        </tr>
        <tr>
            <td>Boja:</td>
            <td><input type="text" name="boja" /></td>
            <td>@ViewBag.boja</td>
        </tr>
        <tr>
            <td>Opis:</td>
            <td><input type="text" name="opis" /></td>
            <td>@ViewBag.opis</td>
        </tr>
        <tr>
            <td>Cena po tegli:</td>
            <td><input type="text" name="cenaPoTegli" /></td>
            <td>@ViewBag.cena</td>
        </tr>
        <tr>
            <td>Broj tegli:</td>
            <td><input type="number" name="brojTegli" /></td>
            <td>@ViewBag.broj</td>
        </tr>
      
        <tr>
            <td colspan="2"><input type="submit" value="Dodaj" class="btn btn-success"/></td>
        </tr>
    </table>

</form>
<br/>
<a href="~/Proizvodi/Index" class="btn btn-warning">Proizvodi</a>

