@model Web_PR_53_2017.Models.Proizvod
@using Web_PR_53_2017.Models

    @{
        ViewBag.Title = "Izmeni";
    }

    <h2>Izmeni</h2>

    <div>@ViewBag.Greska</div>

    <form action="~/Proizvodi/Izmeni" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <table>
            <tr>
                <td>Naziv:</td>
                <td><input type="text" name="naziv" value="@Model.Naziv" /></td>
            </tr>
            <tr>
                <td>Vrsta:</td>
                <td>
                    <input list="vrste" name="vrsta" value="@Model.Vrsta.ToString()" />
                    <datalist id="vrste">
                        <option value="LIVADSKI "></option>
                        <option value="CVETNI"></option>
                        <option value="BAGREMOV"></option>
                        <option value="RUZIN"></option>
                        <option value="SUNCOKRETOV"></option>
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>Proizvodjac:</td>
                <td><input type="text" name="proizvodjac" value="@Model.Proizvodjac" /></td>
            </tr>
            <tr>
                <td>Adresa proizvodjaca:</td>
                <td><input type="text" name="adresaProizvodjaca" value="@Model.AdresaProizvodjaca" /></td>
            </tr>
            <tr>
                <td>Boja:</td>
                <td><input type="text" name="boja" value="@Model.Boja" /></td>
            </tr>
            <tr>
                <td>Opis:</td>
                <td><input type="text" name="opis" value="@Model.Opis"/></td>
            </tr>
            <tr>
                <td>Cena po tegli:</td>
                <td><input type="text" name="cenaPoTegli" value="@Model.CenaPoTegli"/></td>
            </tr>
            <tr>
                <td>Broj tegli:</td>
                <td><input type="number" name="brojTegli" value="@Model.BrojTegli"/></td>
            </tr>

            <tr>
                <td colspan="2"><input type="submit" value="Izmeni" /></td>
            </tr>
        </table>

    </form>

    <a href="~/Proizvodi/Index">Proizvodi</a>
